/Joe/Swift\ 2\ Essential\ Training/Exercise\ Files/Ch01/01-08\ RunningAREPL
/Joe/Swift\ 2\ Essential\ Training/Exercise\ Files/Ch01/01-08\ RunningAREPL_finished
/Joe/Swift\ 2\ Essential\ Training/Exercise\ Files/Ch12/12-02 WorkingWithAccessControl
/Joe/Swift\ 2\ Essential\ Training/Exercise\ Files/Ch12/12-02\ WorkingWithAccessControl_finished
/Joe/Swift\ 2\ Essential\ Training/Exercise\ Files/Ch12/12-03\ WorkingWithAccessControl